@font-face {
  font-family: mainFont;
  src: url(/public/fonts/Aventura-Bold.otf);
}

@font-face {
  font-family: logoFont;
  src: url(/public/fonts/shopping.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "mainFont";
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

:root {
  --primary-color: #0085ff;
  --secondary-color: #4da9ff;
  --font-color: #ecedef;
  --cursor-trail-color: var(--secondary-color);
}
body {
  user-select: none;
  height: 100vh;
  background-color: #090e1a;
}
canvas {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 999;
}
header {
  /* width: 100vw; */
}
.logo {
  cursor: pointer;
  user-select: none;
  color: var(--primary-color);
  font-size: 3rem;
  font-family: logoFont;
  font-weight: 600;
  margin: 0.8rem 1.3rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  /* From https://css.glass */
  background: rgba(9, 14, 26, 0.61);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(9, 14, 26, 0.08);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: -100%;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}
ul li {
  list-style: none;
}
ul li a {
  color: var(--font-color);
  font-size: 1.5rem;
  text-decoration: underline;
  transition: all 0.6s;
}
.bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  height: 2rem;
  width: 1rem;
  margin: 1rem 1rem;
  z-index: 9999;
}
.bars > span {
  height: 3px;
  width: 100%;
  background-color: white;
  margin-top: 3px;
  border-radius: 3px;
}
.bars > span:nth-child(1).active {
  transform: translateY(6px) rotate(45deg);
}
.bars > span:nth-child(2).active {
  opacity: 0%;
}
.bars > span:nth-child(3).active {
  transform: translateY(-6px) rotate(-45deg);
}
.nav-menu.active {
  top: 0px;
}
.hero {
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: 1rem;
  font-size: 2rem;
}
.white {
  color: var(--primary-color);
}
.avatar {
  width: 60vw;
  animation: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 8vh);
  }

  100% {
    transform: translate(0, -0vh);
  }
}
@media screen and (min-width: 700px) {
  .bars {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    /* padding: 0 2rem; */
  }
  .nav-menu {
    position: unset;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 0 1rem;
  }
  ul li :hover {
    color: var(--secondary-color);
  }
  ul li a {
    font-size: 1.3rem;
    text-decoration: none;
  }
  .left-text {
    font-size: 3rem;
  }
}
@media screen and (min-width: 850px) {
  .nav-menu {
    /* padding: 0 1rem; */
  }
  ul li {
    margin: 0 0.8rem;
  }
  .hero {
    justify-content: space-between;
    flex-direction: row;
  }
  .left-text {
    font-size: 3rem;
    align-items: flex-start;
  }
  .avatar {
    width: 40vw;
  }
}
@media screen and (min-width: 1100px) {
  .left-text {
    justify-content: center;
    align-items: flex-start;
    font-size: 4rem;
  }
}
